body {
	background-image:url(image/ficheHZ.jpeg);
	background-size: cover;
	background-position:center;
 font-family: "Shrikhand", serif;}

body#Alastor{     
	background-color:#83192A;
}




img{
	width:30%;
}


h1, h2, h3, h4, h5 {
	color:#83192A;
	text-shadow: 0 0 10px white;
}


p {
	color:#fff;
	text-shadow: 0 0 10px red;
}


a {
	color:white;
	text-shadow: 0 0 10px red;
}